parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 2
			path: config/user-logger.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Parsers/RefererParser.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Snowplow\\RefererParser\\Referer\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 3
			path: src/Parsers/RefererParser.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$domain_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/UserLogger.php

		-
			message: '#^Dead catch \- Exception is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 4
			path: src/UserLogger.php
