parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 2
			path: config/user-logger.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$domain_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/UserLogger.php

		-
			message: '#^Dead catch \- Exception is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 4
			path: src/UserLogger.php

		-
			message: '#^Using nullsafe property access \"\?\-\>domain_id\" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Middleware/InjectUserLogger.php
